### 1. Nombre de filme produit dans chaque pays

In [1]:
import pandas as pd
file = "D:/Formation_Python/Formation_Python_udemy/exercices/sources/chp-014_bases-de-la-data-science/netflix_titles.csv"
df = pd.read_csv(file)
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [17]:
df.country.value_counts()

country
United States                                     2555
India                                              923
United Kingdom                                     397
Japan                                              226
South Korea                                        183
                                                  ...
Germany, United States, United Kingdom, Canada       1
Peru, United States, United Kingdom                  1
Saudi Arabia, United Arab Emirates                   1
United Kingdom, France, United States, Belgium       1
France, Norway, Lebanon, Belgium                     1
Name: count, Length: 681, dtype: int64

#### i récuprer toute les valeurs

In [19]:
df.country.value_counts()

country
United States                                     2555
India                                              923
United Kingdom                                     397
Japan                                              226
South Korea                                        183
                                                  ...
Germany, United States, United Kingdom, Canada       1
Peru, United States, United Kingdom                  1
Saudi Arabia, United Arab Emirates                   1
United Kingdom, France, United States, Belgium       1
France, Norway, Lebanon, Belgium                     1
Name: count, Length: 681, dtype: int64

#### iI récuprer top 3

In [18]:
df.country.value_counts()[:3]

country
United States     2555
India              923
United Kingdom     397
Name: count, dtype: int64

#### i récuprer top 3 dans un dictionnaire

In [21]:
df.country.value_counts()[:3].to_dict()

{'United States': 2555, 'India': 923, 'United Kingdom': 397}

In [24]:
df['country'].value_counts().head(3).to_dict()

{'United States': 2555, 'India': 923, 'United Kingdom': 397}

### 2. Nombre de filme sortie chaque année

In [28]:
df.release_year.value_counts().head(10).to_dict()

{2018: 1121,
 2017: 1012,
 2019: 996,
 2016: 882,
 2020: 868,
 2015: 541,
 2014: 334,
 2013: 267,
 2012: 219,
 2010: 173}

In [36]:
df.release_year.value_counts().sort_index(ascending=False)[:10].to_dict()

{2021: 31,
 2020: 868,
 2019: 996,
 2018: 1121,
 2017: 1012,
 2016: 882,
 2015: 541,
 2014: 334,
 2013: 267,
 2012: 219}

### 3. Liste des réalisateur

In [38]:
df.director.unique().tolist()

array([nan, 'Jorge Michel Grau', 'Gilbert Chan', ..., 'Josef Fares',
       'Mozez Singh', 'Sam Dunn'], shape=(4050,), dtype=object)

In [40]:
# dropna() supprimer les valeur nulle
# afficher que 10 lignes
df.director.dropna().unique().tolist()[:10]

['Jorge Michel Grau',
 'Gilbert Chan',
 'Shane Acker',
 'Robert Luketic',
 'Serdar Akar',
 'Yasir Al Yasiri',
 'Kevin Reynolds',
 'Shravan Kumar',
 'Vikram Bhatt',
 'Zak Hilditch']

In [44]:
# dir() affiche les fonction disponible et qu'on peut utiliser 
dir(df.director.dropna().unique())[:20]

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_namespace__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__buffer__',
 '__class__',
 '__class_getitem__',
 '__complex__',
 '__contains__',
 '__copy__']